# Core scientific libraries
numpy
pandas
matplotlib
seaborn

# Image processing
pillow
opencv-python

# Machine learning and deep learning
scikit-learn
tensorflow==2.19.0



# Future app interface
streamlit

# Utility
python-dotenv
tqdm
